.image-dashboard {
  width: 60px;
  height: 60px;
}

.aside-header {
  max-width: 200px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.281);
}

.aside-navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

.form-filter-button {
  display: flex;
  padding: 13px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  border-radius: 5px;
  background:  #A00E00;
  width: 30px;
  height: 43px;
}

.form-filter-input input {
  padding: 10px;
}

.type-new {
  background:  green;
  width: 35% !important;
}